body {
    background: -webkit-linear-gradient(#1A1A1B, #333F44); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1A1A1B, #333F44); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1A1A1B, #333F44); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1A1A1B, #333F44); /* Standard syntax */
}

.pagination {
    background-color: rgba(143, 143, 143, 1);
    width: 40px;
    height: 40px;
    font-size: 30px;
    outline: none;
    border: none;
    margin: 35px 15px 0 15px;
    line-height: 40px;

}

a:hover {
    text-decoration: none;
    color: white;
}

.pagination:active {
    background-color: lightblue;
}

.journal-list {
    width: 100%;
    margin: 20px auto;
}

.entry-number {
    font-size: 32px;
}

.userbar {
    width: 100%
}

#toggler:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #EEEEEE;
    border-bottom: 13px solid transparent;
}

#toggler {
    background-color: #EEEEEE;
    min-height: 70px;
    font-size: 24px;
    width: 120%;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.text-jurnal {
    white-space: pre-line;
}

span, img {
    cursor: pointer
}

.journal-entry {
    margin-left:121px;
    width: 60%;
    font-size: 1.4em;
}

.user-pic {
    width:80px;
    height:80px;
    position: relative;
    left: -110px;
    top: 72px;
}

.journal-text {
    font-family: sans-serif;
    font-size: 0.8em;
    padding-top: 10px;
    text-indent: 10px;
    width: 120%;
    display: none;
    background-color: #222831;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media only screen and (min-width: 601px) {
    .username {
        font-size: 20px
    }
    .journal-entry {
        width: 80%;
        margin-right:auto;
    }
    .user-pic {
        width: 80px;
        height: 80px;
    }
    #toggler {
        width:100%;
    }
    .journal-text {
        width:100%;
    }
    .userbar {
        width: 300px;
        margin-left: auto;
        margin-right: 30px;
        margin-top: 30px
    }
}