body {
    background:url('../img/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  font-family: Raleway;
}
input[type=text] {
    background-image: url(../img/login-user.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 32px;
    background-size: 32px 32px;
}
input[type=email] {
    background-image: url(../img/email-user.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 32px;
    background-size: 32px 32px;
}

input[type=password] {
    background-image: url(../img/pass-user.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 32px;
    background-size: 32px 32px;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus,input[type="email"]:focus, select:focus {
    border-color:#3498db;
    box-shadow:none;
    border-radius:3px;
    -webkit-border-radius: 3px;
    background-color: #FFF;
}

input[type=text],input[type=password],input[type=email] {
    padding:10px;
    margin-top:8px;
    border:1px solid #ccc;
    padding-left:5px;
    font-size:16px;
    font-family:Raleway;
    background-color: rgba(211,211,211,0.7);
}

.caseta-modala-children input[type=text],input[type=password],input[type=email] {
	width: 100%;
}
.login-box {
	height:600px;
	max-width: 800px;

}
#intro-text {
  color:white;
  font-size: 40px;
    text-shadow:
    -1.2px -1.2px 0 #000,
    1.2px -1.2px 0 #000,
    -1.2px 1.2px 0 #000,
    1.2px 1.2px 0 #000;
}
::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}
#buton_logare {
	width:85%;
}
body  {
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.test123 {
    width: 100%;
    float:left;
    margin:0 auto;
}
.test1234 {
    margin-left: 0;
    width:100%;
}
@media only screen and (min-width:601px) {
.login-box {
	  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
#buton_logare {
	width:88%;
}
.test123 {
    width:45%;height:35px;
}
.test1234 {
    margin-left:1%;float:right;margin-right:0
}
}

@media only screen and (min-width:993px) {



}